body{
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
  background-color: #0B0420;
  color: #34495e;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
  max-width: 100%;
}

.wheel {
  position: relative;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(52, 73, 94, 0.25);
}

.wheel__marker {
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 12px;
  border-top: 30px solid #F5A65B;
   filter: drop-shadow(#31493C 0px 4px 4px);
}

.sector {
  stroke: #BFF739;
  stroke-width: 4px;
  transform-origin: 200px 200px;
}

.sector__label {
  font-size: 24px;
  fill: #E2E8F0;
  stroke: none;
  font-weight: 700;
  text-anchor: middle;
  transform-origin: center;
}

.sector__label.is-emoji {
  font-size: 38px;
}

.button {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #BFF739;
  color: #0B0420;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.button__title {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.is-primary {
  border: 2px solid #739622;
}

.button:disabled {
  pointer-events: none;
  display: none;
}
@-webkit-keyframes blinkH1 {
    0%   {
        color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    19%   {
        color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    20% {
      	color: #9E9E9E;
    	text-shadow: none;
    }
    21% {
      	color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    60% {
      	color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    61% {
      	color: #9E9E9E;
    	text-shadow: none;
    }
    62% {
      	color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    63% {
      	color: #9E9E9E;
    	text-shadow: none;
    }
    64% {
      	color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
    100% {
      	color: #fff;
    	text-shadow: 0px 0px 20px #00aad4;
    }
}

@-webkit-keyframes blinkH1After {
    0%   {
        color: #00aad4;
    }
    19%   {
        color: #00aad4;
    }
    20% {
      	color: transparent;
    }
    21% {
      	color: #00aad4;
    }
    60% {
      	color: #00aad4;
    }
    61% {
      	color: transparent;
    }
    62% {
      	color: #00aad4;
    }
    63% {
      	color: transparent;
    }
    64% {
      	color: #00aad4;
    }
    100% {
      	color: #00aad4;
    }
}

@-webkit-keyframes blinkH1Before {
    0%   {
        background: #00aad4;
    }
    19%   {
        background: #00aad4;
    }
    20% {
      	background: transparent;
    }
    21% {
      	background: #00aad4;
    }
    60% {
      	background: #00aad4;
    }
    61% {
      	background: transparent;
    }
    62% {
      	background: #00aad4;
    }
    63% {
      	background: transparent;
    }
    64% {
      	background: #00aad4;
    }
    100% {
      	background: #00aad4;
    }
}

h1{
	font-family: 'Pacifico', cursive;
	font-weight: 100;
	margin: 0px;
  line-height: 1.5rem;
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 0px 20px #00aad4;
  -webkit-animation: blinkH1 5s  infinite;
  animation: blinkH1 5s  infinite;
	text-align: center;
    line-height: 1.2;
    margin-top: 15px;
}


.show-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 40px;
  margin-top: -20px;
  margin-left: -75px;
  background: #3c83e7;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}


.show-modal:active {
  transform: scale(0.9);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.mask-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -224px;
  margin-top: -150px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  border-radius: 15px;
  padding: 24px;
  text-align: center;
}
.modal .headertext{
  width: 100%;
}
.modal button{
}
.active {
  visibility: visible;
  opacity: 1;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
